<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>these are the angry birds :</h1>
    {{#birdsList}}
      <p>Meet {{name}},
          {{pid}}, 
          {{pabilities}},
          {{pimage}}, 
          {{pgroup}},
          {{pspecies}},
          {{pfeels}}</p>
    {{/birdsList}}
</body>
</html>